<% include ./partials/header %>

    <div class="container">
      <% if (errorMessage) { %> 
        <h2 style="color: red;"><%= errorMessage %></h2>
      <% } %>
      <h2>Add new URL to be shortened</h2>
      <div>
        <form action="/api/shorturl/new" method="POST">
          <label for="url_input">URL to be shortened</label>
          <input id="url_input" type="text" name="url" value="https://www.freecodecamp.org">
          <input type="submit" value="POST URL">
        </form>
      </div>
      <div>
        <ul>
        <% Object.keys(shortURLs).forEach((url) => { %>
          <li><%= url %>: <%= shortURLs[url] %></li>
        <% }) %>
        </ul>
      </div>
    </div>

<% include ./partials/footer %>